* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    font-family: 'Lexend Deca', sans-serif;
}

h1 {
    margin-top:20px;
    margin-left:50px;
    font-size: 40px;
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
}

p { 
    width: 300px;
    margin-top:30px;
    margin-left:50px;
    font-size: 15px;
    line-height: 25px;
    color: hsl(0, 0%, 95%); 
}

button {
    margin-top: 50px;
    margin-left: 50px;
    width: auto;
    height: 50px;
    padding: 20px 50px;
    border-radius: 20px;
    border:none;
    background-color:white;
    mix-blend-mode: screen;
}


.box{
    margin: 0px auto;
    width: 400px;
    height: 550px;
}
.first{
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.second {
     background-color: hsl(184, 100%, 22%);
}
.third {
    background-color: hsl(179, 100%, 13%);
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}
.bg {
    width: auto;
    height: 150px;
    background-repeat: no-repeat;
    background-position: 50px 70px;
    background-size: 70px;
}

.sedan {
    background-image: url("../img/icon-sedans.svg"); 
}
.suv { 
    background-image: url("../img/icon-suvs.svg");
}
.luxury { 
    background-image: url("../img/icon-luxury.svg");
}

@media screen and (min-width: 1000px) {
    main {
        margin: 100px 0px;
        width: 100%;
        text-align: center;
        font-size: 0px;
    }
    h1 {
        text-align: left;
    }
    p {
        text-align: left;
        width: 70%;
    }
    button {
        display: block;
        margin-left: 50px;
    }
    .box {
        display: inline-block;
        margin: 0 auto; 
        width: 26%;
    }
    .first{
        border-top-left-radius: 25px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 25px;
    }
    .third {
        border-top-right-radius: 25px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 25px;
    }

}

